extends reportLayout

block mast-content
  img.img-responsive(src='/img/#{report.image}')

block content
  h1 #{reportUpper}
  .header Buyer's Report
  .row
    .col-sm-5.bg-pri.border-round
      p.table-contents General
      p.table-contents Price History
      p.table-contents Ownership Costs
      p.table-contents Market Insights
      p.table-contents Airworthiness Directives
      p.table-contents Locations
    .col-sm-6.col-sm-offset-1
      p.lead Plane.ly
        span.copyright © 2016
      p Report is for educational purposes only and does not replace a prebuy inspection from a certified mechanic.
      p Do not duplicate