extends reportLayout

block content
  h4 CURRENT MARKET DETAILS
  .row.market-kpi
    .col-md-4.kpi-border
      .blue-header.average-price
      .blue-header-label
        |Ave Price
    .col-md-4.kpi-border
      .blue-header.average-hour
      .blue-header-label
        |Ave Engine Time
    .col-md-4
      .blue-header
        img#trend.no-trend(src='/img/trend.svg')
      .blue-header-label
        |Price Trend  
  .row
    .sub #{report.title} Fleet Price Trend
    .fleet-details
      .loader
        img.img-responsive(src='/img/loader.gif')
      canvas#fleet-price(width='940', height='350')
  .row
    p #{report.price_history_text}
  .row
    .sub #{report.title} Fleet Engine Hour Trend
    .fleet-details
      .loader
        img.img-responsive(src='/img/loader.gif')
      canvas#fleet-hour(width='940', height='350')
      