extends reportLayout

block content
  h4 AIRWORTHINESS DIRECTIVES
  p Airworthiness Directives (ADs) are legally enforceable regulations issued by the FAA in accordance with 14 CFR part 39 to correct an unsafe condition in a product. Part 39 defines a product as an aircraft, engine, propeller, or appliance. When purchasing an aircraft it is important to know whether major AD's have been fixed appropriately. It is best to speak with a mechanic who have experience with this model airplane.
  br
  .row
    table.table.table-striped
      tbody
      each item, index in report.ads
        tr
          td= item
  .row
    .col-md-12
      p.license * This list does not include all FAA issued Airworthiness Directives. Visit the FAA website for a complete list. 
      p Additional Airworthiness Directives can be found at http://rgl.faa.gov/Regulatory_and_Guidance_Library/rgAD.nsf/Frameset?OpenPage
  h4 USEFUL LINKS
  p Here are a few places to find more information about this model as well as listings of for sale aircraft.
    each link in report.useful_links
      p
        a(href=link target="_blank")= link