extends reportLayout

block content
  h4 LOCATIONS OF FOR SALE PLANES
  .sub #{report.title}s
  img#location-map.img-responsive(src='#{imageSrc}' width='800', align='middle', style='margin:auto')
  br
  .row
    p Some locations may display the actual airport identifier.
  .row
    table.table.table-striped
      tbody
      each location, index in locations
        tr
          td= location