.navbar.navbar-default.navbar-fixed-top.bg-pri
  .container
    .navbar-header.font-white
      //- button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
      a.navbar-brand(href='/')
        |#{report.title}
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Page 1') ? 'active' : undefined)
          a(href='/report/#{report._id}') Cover
        li(class=(title == 'Page 2') ? 'active' : undefined)
          a(href='/report/#{report._id}/general') General
        li(class=(title == 'Page 3') ? 'active' : undefined)
          a(href='/report/#{report._id}/price') Price
        li(class=(title == 'Page 4') ? 'active' : undefined)
          a(href='/report/#{report._id}/costs') Costs
        li(class=(title == 'Page 5') ? 'active' : undefined)
          a(href='/report/#{report._id}/market') Market
        li(class=(title == 'Page 6') ? 'active' : undefined)
          a(href='/report/#{report._id}/ads') ADs
        li(class=(title == 'Page 7') ? 'active' : undefined)
          a(href='/report/#{report._id}/locations') Locations
      ul.nav.navbar-nav.navbar-right
        //- li(class=title=='Login'?'active':undefined)
        //-   | Expires: #{expires}
        li.dropdown(class=title=='Account Management'?'active':undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | #{user.email}
            i.caret
          ul.dropdown-menu
            li
              a(href='/myreports')
                span.ion-person
                | My Reports
            li
              a(href='/account')
                span.ion-person
                | My Account
            li.divider
            li
              a(href='/logout')
                span.ion-log-out
                |  Logout