doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{reportUpper}
    != css('main')
    script(type='text/javascript').
      var local_data =!{JSON.stringify(report)}
  body#report
    include header
    .image-mast
      block mast-content
    .container.m-t-lg
      //- include ../partials/flash
      block content

    include footer
    != js('application')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="/js/report.js")
  