extends Layout

block content
  .page-header
    .row
      .col-md-11
        h1 Report List
      .col-md-1
        button (type='button' class='btn btn-primary')
  for report in reports
    pre
      //- a(href='report/#{report.id}/edit') #{report.title}
      a.btn.btn-standard(href='report/#{report.id}/edit') View