extends layout

block content
  h1 Planely Admin
  p.lead This is where you can make trouble
  hr
  .row
    .col-sm-6
      h2 Scrape
      p Kickoff a scrape job 
        span.label.label-danger Not active
      p
        a.btn.btn-default(href='admin', role='button') Kickoff Scrape »
    .col-sm-6
      h2 View All Reports
      p View and edit all the current report types.
      p
        a.btn.btn-default(href='admin/report', role='button') View Reports »
    .col-sm-6
      h2 Reparse
      p This will reparse the last scrape 
        span.label.label-danger Not active
      p
        a.btn.btn-default(href='admin', role='button') Parse »
    .col-sm-6
      h2 Plane List
      p View a list of all the planes that have been scrapesd and see additional info regarding scrape history
      p
        a.btn.btn-default(href='admin/plane', role='button') Plane List »
