doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title}
    != css('main')
  body
    include ../partials/header

    .container.m-t-lg
      include ../partials/flash
      block content

    include ../partials/footer

    != js('application')