extends layout

block content
  .page-header
    .row
      .col-md-10
        h3 Report Details
      .col-md-2
        a.btn.btn-primary(href='/report/#{report._id}')
          |View Report

  form.form-horizontal(role='form', action="/admin/report/#{report._id}", method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='_id', value='#{report._id}')
    .form-group
      label(class='col-sm-2 control-label', for='title') Title
      .col-sm-8
        input.form-control(type='text', name='title', id='title', autofocus=true, value='#{report.title}')
    .form-group
      label(class='col-sm-2 control-label', for='general') General Text
      .col-sm-8
        textarea.form-control(type='text', name='general', id='general', rows='9')
          | #{report.general}
    .form-group
      label(class='col-sm-2 control-label', for='price_history_text') Price History Text
      .col-sm-8
        textarea.form-control(type='text', name='price_history_text', id='price_history_text', rows='9')
          | #{report.price_history_text}
    .form-group
      label(class='col-sm-2 control-label', for='engine_time_distribution_text') Engine Time Distribution Text
      .col-sm-8
        textarea.form-control(type='text', name='engine_time_distribution_text', id='engine_time_distribution_text', rows='9')
          | #{report.engine_time_distribution_text}
    .form-group
      label(class='col-sm-2 control-label', for='average_annual') Average Annual
      .col-sm-8
        input.form-control(type='text', name='ave_annual', id='ave_annual', value='#{report.ownership_cost.ave_annual}')
    .form-group
      label(class='col-sm-2 control-label', for='ave_ownership_cost_hour') Operating $/hr
      .col-sm-8
        input.form-control(type='text', name='ave_ownership_cost_hour', id='ave_ownership_cost_hour', value='#{report.ownership_cost.ave_ownership_cost_hour}')
    .form-group
      label(class='col-sm-2 control-label', for='insurance_cost') Insurance Costs
      .col-sm-8
        input.form-control(type='text', name='insurance_cost', id='insurance_cost', value='#{report.ownership_cost.insurance_cost}')
    .form-group
      label(class='col-sm-2 control-label', for='ave_cost_mile') Operating $/mi
      .col-sm-8
        input.form-control(type='text', name='ave_cost_mile', id='ave_cost_mile', value='#{report.ownership_cost.ave_cost_mile}')
    .form-group
      label(class='col-sm-2 control-label', for='fuel_burn') GPH
      .col-sm-8
        input.form-control(type='text', name='fuel_burn', id='fuel_burn', value='#{report.performance.fuel_burn}')
    .form-group
      label(class='col-sm-2 control-label', for='cruise') Cruise
      .col-sm-8
        input.form-control(type='text', name='cruise', id='cruise', value='#{report.performance.cruise}')
    .form-group
      label(class='col-sm-2 control-label', for='range') Range
      .col-sm-8
        input.form-control(type='text', name='range', id='range', value='#{report.performance.range}')
    .form-group
      label(class='col-sm-2 control-label', for='useful_load') Useful Load
      .col-sm-8
        input.form-control(type='text', name='useful_load', id='useful_load', value='#{report.performance.useful_load}')
    .form-group
      label(class='col-sm-2 control-label', for='model_query') Model Query
      .col-sm-8
        input.form-control(type='text', name='model_query', id='model_query', value='#{report.model_query}')
    .form-group
      label(class='col-sm-2 control-label', for='ads') Airworthiness Directives
      .col-sm-8
        input.form-control(type='text', name='ads', id='ads', value='#{ads}')
    .form-group
      label(class='col-sm-2 control-label', for='useful_links') Useful Links
      .col-sm-8
        input.form-control(type='text', name='useful_links', id='useful_links', value='#{links}')
    .form-group
      label(class='col-sm-2 control-label', for='engine') Engine
      .col-sm-8
        input.form-control(type='text', name='engine', id='engine', value='#{report.engine}')
    img.img-responsive(src='/img/#{report.image}')
    .form-group
      label(class='col-sm-2 control-label', for='image') Image
      .col-sm-8
        input.form-control(type='text', name='image', id='image', value='#{report.image}')
    .form-group
      label(class='col-sm-2 control-label', for='report_image') Report Image
      .col-sm-8
        input.form-control(type='text', name='report_image', id='report_image', value='#{report.report_image}')
    .form-group
      label(class='col-sm-2 control-label', for='image') Published
      .col-sm-8
        if report.published
          input(type="checkbox", name="published", checked)
        else
          input(type="checkbox", name="published")  
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          | Update
