extends layout

block content
  .page-header
    .row
      .col-md-10
        h1 Report List
      .col-md-2
        button.btn.btn-success(type='button', data-toggle='modal', data-target='#myModal') + New
  for report in reports
    pre
      a(href='/admin/report/#{report.id}/edit') #{report.title} 
      if report.published
        span.label.label-success active
      a.btn.btn-primary.pull-right(href='/report/#{report.id}') View