extends layout

block content
  .page-header
    .row
      .col-md-12
        h1 User List
  for user in users
    pre
      a(href='#') #{user.email}
      a.btn.btn-danger.pull-right(href='/admin/users/delete/#{user.id}') Delete User