extends ../layout

block content
  .container.m-t-lg
    .col-sm-8.col-sm-offset-2.m-t-lg
      form(method='POST')
        legend Forgot Password
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          p Enter your email address below and we will send you password reset instructions.
          label.control-label(for='email') Email
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
        .form-group
          button.btn.btn-success(type='submit')
            i.fa.fa-key
            | Reset Password
