extends ../layout

block content
  .container.m-t-lg
    .col-sm-8.col-sm-offset-2
      .page-header
        h3 Sign in
      form(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label(for='email') Email
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
        .form-group
          label.control-label(for='password') Password
          input.form-control(type='password', name='password', id='password', placeholder='Password')
        .form-group
          button.btn.btn-success(type='submit')
            i.fa.fa-user
            | Login
          a.btn.btn-link(href='/forgot') Forgot your password?