extends ../layout

block content
  .container.m-t-lg
    .page-header
      h3 Profile Information

    form.form-horizontal(action='/account/profile', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-2.control-label(for='email') Email
        .col-sm-4
          input.form-control(type='email', name='email', id='email', value='#{user.email}')
      .form-group
        label.col-sm-2.control-label(for='name') Name
        .col-sm-4
          input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
      .form-group
        label.col-sm-2.control-label(for='gender') Gender
        .col-sm-4
          label.radio.col-sm-4
            input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
            span Male
          label.radio.col-sm-4
            input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
            span Female
      .form-group
        label.col-sm-2.control-label(for='location') Location
        .col-sm-4
          input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
      .form-group
        label.col-sm-2.control-label(for='website') Website
        .col-sm-4
          input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
      .form-group
        label.col-sm-2.control-label(for='gravatar') Gravatar
        .col-sm-4
          img(src="#{user.gravatar()}", class='profile', width='100', height='100')
      .form-group
        .col-sm-offset-2.col-sm-4
          button.btn.btn.btn-success(type='submit')
            i.fa.fa-pencil
            | Update Profile

    .page-header
      h3 Change Password

    form.form-horizontal(action='/account/password', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='password') New Password
        .col-sm-4
          input.form-control(type='password', name='password', id='password')
      .form-group
        label.col-sm-3.control-label(for='confirmPassword') Confirm Password
        .col-sm-4
          input.form-control(type='password', name='confirmPassword', id='confirmPassword')
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-success(type='submit')
            i.fa.fa-lock
            | Change Password

    .page-header
      h3 Delete Account

    p You can delete your account, but keep in mind this action is irreversible.
    form(action='/account/delete', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-danger(type='submit')
        i.fa.fa-trash
        | Delete my account
