extends ../layout

block content
  .container.m-t-lg
    .col-sm-8.col-sm-offset-2.m-t-lg
      form(method='POST')
        legend Reset Password
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label(for='password') New Password
          input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
        .form-group
          label(for='confirm') Confirm Password
          input.form-control(type='password', name='confirm', value='', placeholder='Confirm password')
        .form-group
          button.btn.btn-success.btn-reset(type='submit')
            i.fa.fa-keyboard-o
            | Change Password
