extends ../layout

block content
  .container.m-t-lg
    .col-sm-10.col-sm-offset-1
      .page-header
        h3 Sign up
        p.lead Get access to a free report just by signing up.
      form.form-horizontal(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-2.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
        .form-group
          label.col-sm-2.control-label(for='password') Password
          .col-sm-7
            input.form-control(type='password', name='password', id='password', placeholder='Password')
        .form-group
          label.col-sm-2.control-label(for='confirmPassword') Confirm Password
          .col-sm-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
        .form-group
          .col-sm-offset-2.col-sm-7
            button.btn.btn-success(type='submit')
              i.fa.fa-user-plus
              | Signup
