if messages.errors
  .container.m-t-lg
    .alert.alert-danger.fade.in
      button.close(type='button', data-dismiss='alert')
        span.ion-close-circled
      for error in messages.errors
        div= error.msg
if messages.info
  .container.m-t-lg
    .alert.alert-info.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      for info in messages.info
        div= info.msg
if messages.success
  .container.m-t-lg
    .alert.alert-success.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      for success in messages.success
        div= success.msg