.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-line-chart
        | Planeio
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if user
          li(class=(title == 'My Reports') ? 'active' : undefined)
            a(href='/myreports') My Reports
        if user && user.group == 'admin'
          li(class=(title == 'Reports') ? 'active' : undefined)
            a(href='/admin/report') Reports
          li(class=(title == 'Planes') ? 'active' : undefined)
            a(href='/admin/plane') Planes
          li(class=(title == 'Users') ? 'active' : undefined)
            a(href='/admin/users') Users
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              //- if user.profile.picture
              //-   img(src='#{user.profile.picture}')
              //- else
              //-   img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') Account
              li.divider
              li
                a(href='/logout') Logout