extends myReportLayout

block content
  .row
    h4 ESTIMATED COST OF OWNERSHIP
    table.table.table-striped
      tbody
        tr
          td Average Annual Service Cost
          td= report.details.ownership_cost.ave_annual
        tr
          td Average Operating Cost Per Hour
          td= report.details.ownership_cost.ave_ownership_cost_hour
        tr
          td Average Cost Per Mile
          td= report.details.ownership_cost.ave_cost_mile
  h4 #{report.details.title} MODEL DETAILS
  .row
    table.table.table-striped
      thead
        th Model
        th Average Price ($)
        th Average Engine Time (hr)
        th Est. # For Sale
      tbody
      each make, index in report.model_data
        tr
          td= make._id
          td= make.AveragePrice
          td= make.AverageHours
          td= make.count