extends myReportLayout

block mast-content
  //- .mast-content.img-responsive(style='background-image: url(/img/#{report.details.image}); height:600px; background-size: cover')
  img.img-responsive(src='/img/#{report.details.image}', max-height='600px')

block content
  h1 #{report.details.title}
  .header Buyer's Report
  .row
    .col-sm-5.bg-pri.border-round
      p.table-contents General
      p.table-contents Price History
      p.table-contents Ownership Costs
      p.table-contents Market Insights
      p.table-contents Airworthiness Directives
      p.table-contents Locations
    .col-sm-6.col-sm-offset-1
      p.lead Planeio
        span.copyright © 2016
      p Report is for educational purposes only and does not replace a prebuy inspection from a certified mechanic.
      p Do not duplicate