extends myReportLayout

block content
  h4 GENERAL
  p #{report.details.general}
  .row
    .col-md-6.col-md-offset-6
      p.license
        |This uses material from Wikipedia, which is released under the Creative Commons Attribution-Share-Alike License 3.0     
  .row
    h4 #{report.details.title} PERFORMANCE
    table.table.table-striped
      tr
        td Cruise Speed (KTS)
        td #{report.details.performance.cruise}
      tr
        td Fuel Burn (GPH)
        td #{report.details.performance.fuel_burn}
      tr
        td Useful Load (LBS)
        td #{report.details.performance.useful_load}
      tr
        td Range (NM)
        td #{report.details.performance.range}
      