extends layout

block mast
  section.mast
    if messages.home
      .alert.alert-success.fade.in(style='z-index: 99; margin-top: 50px; position: absolute; width: 100%')
        button.close(type='button', data-dismiss='alert')
          i.fa.fa-times-circle-o
        for success in messages.home
          div= success.msg
    .col-md-6(style="position: absolute; left: 10%; top: 8%")
        h1 Airplane Buyer's Report
        p.lead Get up to date market data generated from 1000's of aircraft listings.
        p
            i.fa.fa-map-marker 
            | View price trends, engine/time ratios, helpful links, airworthiness directives
        p
            i.fa.fa-tachometer 
            | View performance data for each airplane model
        p
            i.fa.fa-area-chart
            | View the locations of for sale airplanes and much more...
    .col-md-offset-8.col-md-4(style='height: 600px; background-color: rgba(0, 0, 0, 0.40098);')
        .vertical-middle.col-padding(style='position: absolute; top: 40%; width: 80%; left: 10%; padding-top: 0px; padding-bottom: 0px; margin-top: -120px; opacity: 1.52857;')
            form.col-md-12.white(role='form', action="/signup", method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .white
                    h1(style='font-size: 22px;') Setup a Free Account
                    span(style='font-size: 16px;') Get access to a free report.
                    br
                    .form-group(style='margin-top: 30px')
                        label(for='email') Email address
                        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
                    .form-group
                        label(for='password') Password
                        input.form-control(type='password', name='password', id='password', placeholder='Password')
                    .form-group
                        label(for='password') Re-enter Password
                        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
                    button.button-circle(type='submit') Sign Up Now
block content
    section#features(style='background-color: #f0f0f0').p-t-lg.p-b-lg
        .center-title.text-center.green Reports Includes
        .container
            .row.m-t-lg
                .col-md-4
                    .row
                        i.fa.fa-plane.fa-3x.brown
                        span.feature.m-l-s Plane Models
                        p.lead.m-t-lg Get reports for multiple models including Cessna, Cirrus, Piper, Beechcraft and Diamond.
                .col-md-4
                    .row
                        i.fa.fa-calendar.fa-3x.brown
                        span.feature.m-l-s Timely Data
                        p.lead.m-t-lg Our data is updated weekly and based on 1000's of airplane listings.
                .col-md-4
                    .row
                        i.fa.fa-map-marker.fa-3x.brown
                        span.feature.m-l-s Locations
                        p.lead.m-t-lg See a map with all available aircrafts.
            .row.m-t-lg
                .col-md-4
                    .row
                        i.fa.fa-dollar.fa-3x.brown
                        span.feature.m-l-s Price Trends
                        p.lead.m-t-lg View a 6 month trend of market pricing for your model.
                .col-md-4
                    .row
                        i.fa.fa-wrench.fa-3x.brown
                        span.feature.m-l-s Important ADs
                        p.lead.m-t-lg Get a list of the most important airworthiness directives for your model before you buy.
                .col-md-4
                    .row
                        i.fa.fa-globe.fa-3x.brown
                        span.feature.m-l-s Useful Links
                        p.lead.m-t-lg Each report includes important links to valuable resources that will be valuable to any plane buyer.
        .text-center.m-t-lg
            a.btn.btn-success.btn-lg(href='/signup')
                | Sign Up Now 
                i.fa.fa-plane 
        hr
    section.available-reports
        .container.m-t-lg
            .row.m-t-lg
                .center-title.text-center.green Available Reports
                .row#reports.m-t-lg
                    for report in reports
                        .col-sm-6.col-md-4
                            .thumbnail
                                .ribbon
                                    span= "Only $"+report.report_price/100
                                img(src='/img/#{report.report_image}', alt='...')
                                .caption
                                    h3 #{report.title}
                                    p= report.general.substr(0, 100) + '...'
                                    p
                                        a.btn.btn-success(href='/signup')
                                            | Get Report
                //-     .col-sm-6.col-md-4
                //-         .thumbnail
                //-             .ribbon-brown
                //-                 span $39
                //-             img(src='/img/cessna-172-report.jpg', alt='...')
                //-             .caption
                //-                 h3 Cessna 172
                //-                 p
                //-                     if user && user.email_verified 
                //-                         form(method='POST')
                //-                             input(type='hidden', name='_csrf', value=_csrf)
                //-                             input(type='hidden', name='report_id', value='56cf726250192b0e0215eab2')
                //-                             script(
                //-                             src='https://checkout.stripe.com/checkout.js',
                //-                             data-email= '#{user.email}'
                //-                             data-label='Buy Report',
                //-                             data-zip-code='true',
                //-                             data-allow-remember-me='false',
                //-                             class='stripe-button',
                //-                             data-key=publishableKey,
                //-                             data-image='/img/beech_bo.jpg',
                //-                             data-name='Planely',
                //-                             data-description='Buyers Report',
                //-                             data-locale='auto',
                //-                             data-amount='3900')
                //-                     else
                //-                         a.btn.btn-success(href='/signup')
                //-                             | Sign Up for Report
                //-     .col-sm-6.col-md-4
                //-         .thumbnail
                //-             .ribbon-brown
                //-                 span $39
                //-             img(src='/img/cirrus-sr-report.jpg', alt='...')
                //-             .caption
                //-                 h3 Cirrus SR22
                //-                 p
                //-                     if user && user.email_verified 
                //-                         form(method='POST')
                //-                             input(type='hidden', name='_csrf', value=_csrf)
                //-                             input(type='hidden', name='report_id', value='56cf726250192b0e0215eab2')
                //-                             script(
                //-                             src='https://checkout.stripe.com/checkout.js',
                //-                             data-email= '#{user.email}'
                //-                             data-label='Buy Report',
                //-                             data-zip-code='true',
                //-                             data-allow-remember-me='false',
                //-                             class='stripe-button',
                //-                             data-key=publishableKey,
                //-                             data-image='/img/beech_bo.jpg',
                //-                             data-name='Planely',
                //-                             data-description='Buyers Report',
                //-                             data-locale='auto',
                //-                             data-amount='3900')
                //-                     else
                //-                         a.btn.btn-success(href='/signup')
                //-                             | Sign Up for Report
                //- .row    
                //-     .col-sm-6.col-md-4
                //-         .thumbnail
                //-             .ribbon-brown
                //-                 span $39
                //-             img(src='/img/mooney-report.jpg', alt='...')
                //-             .caption
                //-                 h3 Mooney M20J
                //-                 p
                //-                     if user && user.email_verified 
                //-                         form(method='POST')
                //-                             input(type='hidden', name='_csrf', value=_csrf)
                //-                             input(type='hidden', name='report_id', value='56cf726250192b0e0215eab2')
                //-                             script(
                //-                             src='https://checkout.stripe.com/checkout.js',
                //-                             data-email= '#{user.email}'
                //-                             data-label='Buy Report',
                //-                             data-zip-code='true',
                //-                             data-allow-remember-me='false',
                //-                             class='stripe-button',
                //-                             data-key=publishableKey,
                //-                             data-image='/img/beech_bo.jpg',
                //-                             data-name='Planely',
                //-                             data-description='Buyers Report',
                //-                             data-locale='auto',
                //-                             data-amount='3900')
                //-                     else
                //-                         a.btn.btn-success(href='/signup')
                //-                             | Sign Up for Report
                //-     .col-sm-6.col-md-4
                //-         .thumbnail
                //-             .ribbon-brown
                //-                 span $39
                //-             img(src='/img/beech-v35-report.jpg', alt='...')
                //-             .caption
                //-                 h3 Beechcraft V35
                //-                 p
                //-                     if user && user.email_verified 
                //-                         form(method='POST')
                //-                             input(type='hidden', name='_csrf', value=_csrf)
                //-                             input(type='hidden', name='report_id', value='56cf726250192b0e0215eab2')
                //-                             script(
                //-                             src='https://checkout.stripe.com/checkout.js',
                //-                             data-email= '#{user.email}'
                //-                             data-label='Buy Report',
                //-                             data-zip-code='true',
                //-                             data-allow-remember-me='false',
                //-                             class='stripe-button',
                //-                             data-key=publishableKey,
                //-                             data-image='/img/beech_bo.jpg',
                //-                             data-name='Planely',
                //-                             data-description='Buyers Report',
                //-                             data-locale='auto',
                //-                             data-amount='3900')
                //-                     else
                //-                         a.btn.btn-success(href='/signup')
                //-                             | Sign Up for Report
                          
                //-     .col-sm-6.col-md-4
                //-         .thumbnail
                //-             .ribbon-brown
                //-                 span $39
                //-             img(src='/img/cessna-172-report.jpg', alt='...')
                //-             .caption
                //-                 h3 Cessna 172
                //-                 p
                //-                     if user && user.email_verified 
                //-                         form(method='POST')
                //-                             input(type='hidden', name='_csrf', value=_csrf)
                //-                             input(type='hidden', name='report_id', value='56cf726250192b0e0215eab2')
                //-                             script(
                //-                             src='https://checkout.stripe.com/checkout.js',
                //-                             data-email= '#{user.email}'
                //-                             data-label='Buy Report',
                //-                             data-zip-code='true',
                //-                             data-allow-remember-me='false',
                //-                             class='stripe-button',
                //-                             data-key=publishableKey,
                //-                             data-image='/img/beech_bo.jpg',
                //-                             data-name='Planely',
                //-                             data-description='Buyers Report',
                //-                             data-locale='auto',
                //-                             data-amount='3900')
                //-                     else
                //-                         a.btn.btn-success(href='/signup')
                //-                             | Sign Up for Report