doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title Planeio
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js')
    != css('main')
    script(src='//load.sumome.com/', data-sumo-site-id='7ba4afb93d79bb950281db082a69e4336707582bde81ae0ed2035994c8ab1fe3', async='async')
  body
    include partials/header
    block mast
      include partials/flash
    block content

    include partials/footer
    include modal

    != js('application')
    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-75847458-1', 'auto');
      ga('send', 'pageview');