extends myReportLayout

block content
  h4 LOCATIONS OF FOR SALE PLANES
  .sub #{report.details.title}s
  img#location-map.img-responsive(src='#{report.map.image}' width='800', align='middle', style='margin:auto')
  br
  .row
    p Some locations may display the actual airport identifier.
  .row
    table.table.table-striped
      tbody
      each location, index in report.map.locations
        tr
          td= location