extends myReportLayout

block content
  h4 CURRENT MARKET DETAILS
  .row
    .col-md-12
      .sub #{report.details.title} Fleet Engine Time
  .row
    .col-md-12
      .fleet-details
        .loader
          img.img-responsive(src='/img/loader.gif')
        #chart_price(style='width: 940px; height: 400px;')
      p #{report.details.engine_time_distribution_text}
      br
  .row
    .col-md-12
      .sub #{report.details.title} Engine Time Distribution
  .row
    .col-md-12
      .fleet-details
        .loader
          img.img-responsive(src='/img/loader.gif')
        #chart_price_time(style='width: 940px; height: 400px;')