#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-admin(role='document')
    .modal-content
      //- .modal-header
      //-   button.close(type='button', data-dismiss='modal', aria-label='Close')
      //-     span(aria-hidden='true') ×
      //-   h4#myModalLabel.modal-title Get a free report
      .modal-body(style='margin: 0; padding: 0px')
        .row
            .col-md-5
              img.thumbnail.img-responsive(src='img/j-3-free.jpg')
            .col-md-6
              form(id='signup-form', method='POST')     
                .form-group
                  h2 Get Your Free Report!
                  label(for='exampleInputEmail1') Email address
                  input#exampleInputEmail1.form-control(type='email', placeholder='Email')
                .col-md-6
                  button.btn.btn-lg.btn-primary(type='button', data-dismiss='modal', aria-label='Close') Not Interested
                .col-md-6
                  button.btn.btn-lg.btn-success(type='submit') Sign Up

      //- .modal-footer
      //-   button.btn.btn-default(type='button', data-dismiss='modal') Close
      //-   button.btn.btn-primary(type='button') Save changes  