doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{report.details.title}
    != css('main')
    script(type='text/javascript').
      var local_data =!{JSON.stringify(report)}
  body#report
    include myReportHeader
    .image-mast
      block mast-content
    .container.m-t-lg
      //- include ../partials/flash
      block content

    include partials/footer
    != js('application')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="/js/myreport.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-75847458-1', 'auto');
      ga('send', 'pageview');
  