extends layout

block content
    .container.m-t-lg
        if user && !user.email_verified
            .alert.alert-danger.fade.in
                button.close(type='button', data-dismiss='alert')
                    span.ion-close-circled
                div You must verfiy your email before viewing any reports
        else
            .alert.alert-success.fade.in
                button.close(type='button', data-dismiss='alert')
                    span.ion-close-circled
                div Welcome! We are currently in beta and offering you 1 FREE report. Go ahead and try it and we will let you know when we are ready.
        .page-header
            .row
                .col-md-12
                    h4 Purchased Reports
                    if !reports
                        .jumbotron(style="text-align: center")
                            //- img.img-responsive(src='img/no_report.png' style="margin: 0 auto")
                            span.fa-stack.fa-lg(style="color: #cccccc")
                                i.fa.fa-circle.fa-stack-2x
                                i.fa.fa-line-chart.fa-stack-1x.fa-inverse
                            p.muted.text-center No reports yet
                            a.btn.btn-primary.btn-lg(href='#reports', role='button') Get Report
                    else
                        for report in reports
                            .panel.panel-default
                                .panel-body
                                    .media
                                        .media-left.media-middle
                                            a(href='#')
                                            img.thumbnail.media-object(src='/img/#{report.details.image}', alt='...' style="width: 80px")
                                        .media-body
                                            h4.media-heading #{report.details.title}
                                            span.label.label-default Report Generated 
                                                span.moment-date #{report.date}
                                            p= report.details.general.substr(0, 320) + '...'
                                        .media-right
                                            a.btn.btn-success(href='myreports/#{report._id}', target="_blank") View Report
            
        .row.m-t-lg
            h4#reports Available Reports
            .row
                for availableReport in availableReports
                    if availableReport.details.free_promo && !user.free_report_claimed
                        .col-sm-6.col-md-4
                            .thumbnail
                                .ribbon
                                    span TRY FREE
                                img(src='/img/#{availableReport.details.report_image}', alt='...')
                                .caption
                                    h3 #{availableReport.details.title}
                                    p
                                        .label.label-success.moment-date #{availableReport.date}
                                    p= availableReport.details.general.substr(0, 100) + '...'
                                    a.btn.btn-success(href='/promo/#{availableReport._id}')
                                        | Get Free Report
                    //- else
                    //-     .col-sm-6.col-md-4
                    //-         .thumbnail
                    //-             .ribbon
                    //-                 span= "$"+availableReport.details.report_price/100
                    //-             img(src='/img/#{availableReport.details.report_image}', alt='...')
                    //-             .caption
                    //-                 h3 #{availableReport.details.title}
                    //-                 p
                    //-                     .label.label-success.moment-date #{availableReport.date}
                    //-                 p= availableReport.details.general.substr(0, 100) + '...'
                    //-                 p
                    //-                     if user && user.email_verified
                    //-                         form(method='POST' action='/')
                    //-                             input(type='hidden', name='_csrf', value=_csrf)
                    //-                             input(type='hidden', name='report_id', value='#{availableReport._id}')
                    //-                             script(
                    //-                             src='https://checkout.stripe.com/checkout.js',
                    //-                             data-email= '#{user.email}'
                    //-                             data-label='Buy Report',
                    //-                             data-zip-code='true',
                    //-                             data-allow-remember-me='false',
                    //-                             class='stripe-button',
                    //-                             data-key=publishableKey,
                    //-                             data-image='/img/beech_bo.jpg',
                    //-                             data-name='Planely',
                    //-                             data-description='Buyers Report',
                    //-                             data-locale='auto',
                    //-                             metadata[report_id]='#{availableReport._id}',
                    //-                             data-amount='#{availableReport.details.report_price')
                    //-                     else
                    //-                         a.btn.btn-success(href='/signup')
                    //-                             | Sign Up for Report

        //-     .row
        //-         .col-sm-6.col-md-4
        //-             .thumbnail
        //-                 .ribbon
        //-                     span TRY FREE
        //-                 img(src='/img/j-3-report.jpg', alt='...')
        //-                 .caption
        //-                     h3 Piper J-3 Cub
        //-                     p
        //-                         if user && user.email_verified
        //-                             a.btn.btn-success(href='/admin', role='button') View Free Report
        //-                         else
        //-                             a.btn.btn-success(href='/signup')
        //-                                 | Get Free Report
        //-         .col-sm-6.col-md-4
        //-             .thumbnail
        //-                 .ribbon-brown
        //-                     span $39
        //-                 img(src='/img/cessna-172-report.jpg', alt='...')
        //-                 .caption
        //-                     h3 Cessna 172
        //-                     p
        //-                         if user && user.email_verified
        //-                             form(method='POST' action='/')
        //-                                 input(type='hidden', name='_csrf', value=_csrf)
        //-                                 input(type='hidden', name='report_id', value='56fae9b92d4c079f360e2fa0')
        //-                                 script(
        //-                                 src='https://checkout.stripe.com/checkout.js',
        //-                                 data-email= '#{user.email}'
        //-                                 data-label='Buy Report',
        //-                                 data-zip-code='true',
        //-                                 data-allow-remember-me='false',
        //-                                 class='stripe-button',
        //-                                 data-key=publishableKey,
        //-                                 data-image='/img/logo-120.png',
        //-                                 data-name='Planely',
        //-                                 data-description='Buyers Report',
        //-                                 data-locale='auto',
        //-                                 metadata[report_id]='56fae9b92d4c079f360e2fa0',
        //-                                 data-amount='3900')
        //-                         else
        //-                             a.btn.btn-success(href='/signup')
        //-                                 | Sign Up for Report
        //-         .col-sm-6.col-md-4
        //-             .thumbnail
        //-               img(src='/img/cirrus-sr-report.jpg', alt='...')
        //-               .caption
        //-                 h3 Cirrus SR22
        //-                 p
        //-                     if user && user.email_verified
        //-                       form(method='POST' action='/')
        //-                         input(type='hidden', name='_csrf', value=_csrf)
        //-                         input(type='hidden', name='report_id', value='56fae9b92d4c079f360e2fa0')
        //-                         script(
        //-                         src='https://checkout.stripe.com/checkout.js',
        //-                         data-email='#{user.email}',
        //-                         data-label='Buy Report',
        //-                         class='stripe-button',
        //-                         data-key=publishableKey,
        //-                         data-image='/img/logo-120.png',
        //-                         data-name='Planely',
        //-                         data-description='Buyers Report',
        //-                         data-locale='auto',
        //-                         metadata[report_id]='56fae9b92d4c079f360e2fa0',
        //-                         data-amount='3900')
        //-                     else
        //-                         a.btn.btn-success(href='/signup')
        //-                             | Sign Up for Report
        //-     .row    
        //-         .col-sm-6.col-md-4
        //-             .thumbnail
        //-               img(src='/img/mooney-report.jpg', alt='...')
        //-               .caption
        //-                 h3 Mooney M20J
        //-                 p
        //-                     if user && user.email_verified
        //-                       form(method='POST' action='/')
        //-                         input(type='hidden', name='_csrf', value=_csrf)
        //-                         script(
        //-                         src='https://checkout.stripe.com/checkout.js',
        //-                         data-email='#{user.email}',
        //-                         data-label='Buy Report',
        //-                         class='stripe-button',
        //-                         data-key=publishableKey,
        //-                         data-image='/img/logo-120.png',
        //-                         data-name='Planely',
        //-                         data-description='Buyers Report',
        //-                         data-locale='auto',
        //-                         data-amount='3900')
        //-                     else
        //-                         a.btn.btn-success(href='/signup')
        //-                             | Sign Up for Report
        //-         .col-sm-6.col-md-4
        //-             .thumbnail
        //-               img(src='/img/beech-v35-report.jpg', alt='...')
        //-               .caption
        //-                 h3 Beechcraft V35
        //-                 p
        //-                     if user && user.email_verified
        //-                       form(method='POST' action='/')
        //-                         input(type='hidden', name='_csrf', value=_csrf)
        //-                         script(
        //-                         src='https://checkout.stripe.com/checkout.js',
        //-                         data-email='#{user.email}',
        //-                         data-label='Buy Report',
        //-                         class='stripe-button',
        //-                         data-key=publishableKey,
        //-                         data-image='/img/beech_bo.jpg',
        //-                         data-name='Planely',
        //-                         data-description='Buyers Report',
        //-                         data-locale='auto',
        //-                         data-amount='3900')
        //-                     else
        //-                         a.btn.btn-success(href='/signup')
        //-                             | Sign Up for Report
        //-         .col-sm-6.col-md-4
        //-             .thumbnail
        //-               img(src='/img/cessna-172-report.jpg', alt='...')
        //-               .caption
        //-                 h3 Cherokee 180
        //-                 p
        //-                     if user && user.email_verified
        //-                       form(method='POST' action='/')
        //-                         input(type='hidden', name='_csrf', value=_csrf)
        //-                         script(
        //-                         src='https://checkout.stripe.com/checkout.js',
        //-                         data-email='#{user.email}',
        //-                         data-label='Buy Report',
        //-                         class='stripe-button',
        //-                         data-key=publishableKey,
        //-                         data-image='/img/beech_bo.jpg',
        //-                         data-name='Planely',
        //-                         data-description='Buyers Report',
        //-                         data-locale='auto',
        //-                         data-amount='3900')
        //-                     else
        //-                         a.btn.btn-success(href='/signup')
        //-                             | Sign Up for Report