extends layout

block content
  .page-header
    h3 Plane

  form.form-horizontal(role='form', action="/plane/#{plane._id}", method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='_id', value='#{plane._id}')
    .form-group
      label(class='col-sm-2 control-label', for='name') Make
      .col-sm-8
        input.form-control(type='text', name='make', id='make', autofocus=true, value='#{plane.make}')
    .form-group
      label(class='col-sm-2 control-label', for='model') Model
      .col-sm-8
        input.form-control(type='text', name='model', id='model', value='#{plane.model}')
    .form-group
      label(class='col-sm-2 control-label', for='message') Description
      .col-sm-8
        textarea.form-control(type='text', name='description', id='description', rows='9')
          | #{plane.description}
    .form-group
      label(class='col-sm-2 control-label', for='category') Category
      .col-sm-8
        select.form-control(data-placeholder='#{plane.category}', name='category' value="#{plane.category}")
          option(value='#{plane.category}') #{plane.category}
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
          option(value='5') 5
    .form-group
      label(class='col-sm-2 control-label', for='average_annual') Average Annual
      .col-sm-8
        input.form-control(type='text', name='ave_annual', id='ave_annual', value='#{plane.ave_annual}')
    .form-group
      label(class='col-sm-2 control-label', for='operating_cost_per_hour') Operating $/hr
      .col-sm-8
        input.form-control(type='text', name='operating_cost_per_hour', id='operating_cost_per_hour', value='#{plane.operating_cost_per_hour}')
    .form-group
      label(class='col-sm-2 control-label', for='operating_cost_per_mile') Operating $/mi
      .col-sm-8
        input.form-control(type='text', name='operating_cost_per_mile', id='operating_cost_per_mile', value='#{plane.operating_cost_per_mile}')
    .form-group
      label(class='col-sm-2 control-label', for='gph') GPH
      .col-sm-8
        input.form-control(type='text', name='gph', id='gph', value='#{plane.gph}')
    .form-group
      label(class='col-sm-2 control-label', for='cruise') Cruise
      .col-sm-8
        input.form-control(type='text', name='cruise', id='cruise', value='#{plane.cruise}')
    .form-group
      label(class='col-sm-2 control-label', for='useful_load') Useful Load
      .col-sm-8
        input.form-control(type='text', name='useful_load', id='useful_load', value='#{plane.useful_load}')
    .form-group
      label(class='col-sm-2 control-label', for='image') Image
      .col-sm-8
        input.form-control(type='text', name='image', id='image', value='#{plane.image}')
    .form-group
      label(class='col-sm-2 control-label', for='image') Add to Report
      .col-sm-8
        input.form-control(type="checkbox", name="add_to_report", id="add_to_report", checked=(true==='#{plane.add_to_report}' ? "checked" : undefined))
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          | Update

  h3 Parses for all #{plane.make}
  table#price.table.table-condensed
    thead
      tr
        th id
        th Date
        th # of planes
        th Status
    tbody
      each scrape, index in scrapes
        tr
          td= scrape._id
          td= scrape.date
          td= scrape.total_planes
          td= scrape.status
          //- td= numeral(AvePrice.avg_qty).format('$ 0,0')
          //- td= numeral(AvePrice.avg_hours).format('0,0')
  h3 Price Trend for  #{plane.model}
  table#price_trend.table.table-condensed
    thead
      tr
        th Date
        th Price
        th Engine Hours
    tbody
      each data, index in plane.price_hour_trends
        tr
          td= data[0]
          td= data[1]
          td= data[2]
  h3 (#{locations.length}) Locations for #{plane.model}
  .row
    .col-sm-6
      img.img-responsive(width='600', src= '#{imageSrc}')
    .col-sm-6
      table#price_trend.table.table-condensed
        thead
          tr
            th Location
        tbody
          each location, index in locations
            tr
              td= location