extends layout

block content
  .page-header
    .row
      .col-md-11
        h1 Report List
      .col-md-1
        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal') + New
  for report in reports
    pre
      a(href='report/#{report.id}/edit') #{report.title}