@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-social";
@import "themes/planely";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  // padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}

label {
    font-weight: normal !important;
}

.form-control:focus {
  border-color: #62B2B1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 178, 177, 0.6);
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.navbar-default {
  opacity: .9;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}


// Report 
// -------------------------
// 

#report .active {
  background-color: #fff;
  border-bottom: 3px solid #62B2B1;
}

#report .navbar-nav a {
  color: #684836;
  font-size: 10px;
}

#report .active a {
  color: #A68B7C;
}

#report a:hover {
  color: #D0BFB6;
}

#report .bg-pri {
  background-color: #A68B7C;
}

#report .navbar-brand {
  color: #fff;
  line-height: 25px;
}

#report .navbar-default {
  height: 60px;
  border-bottom: 4px solid #fff;
}

#report .white {
  color: #fff;
}

#report h1 {
  font-size: 80px;
  font-weight: bold;
  color: #a6887c;
  padding-top: 80px;
}


#report .header {
  font-size: 46px;
  font-weight: 100;
  color: #a6887c;
  margin-bottom: 40px
}


#report h1 {
  font-size: 80px;
  font-weight: bold;
  color: #a6887c;
  padding-top: 40px;
}

#report h3 {
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}

#report h4 {
  font-size: 32px;
  font-weight: 100;
  color: #a6887c;
  margin: 40px 0px;
}


#report .sub {
  font-size: 24px;
  font-weight: 100;
  color: #a6887c;
}

#report .border-round {
  border-radius: 15px;
}

#report .copyright {
  margin-left: 30px;
  font-size: 10px;
}

#report p {
  // color: #a6887c;
  color: #9B9B9B;
  font-size: 20px;
  line-height: 38px;
}

#report .table-contents {
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  margin: 10px
}

#report .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ECF0F3;
}

#report .table > thead > tr > th {
  color: #A68B7C;
  font-weight: 200;
}

#report .license {
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
  text-align: right;

}

#report td {
  padding: 20px;
  font-size: 18px;
  color: #9B9B9B;
}

#report table {
  border-top: 4px solid #a6887c;
}

#report .market-kpi {
  padding: 40px;
  margin: 20px 0px;
}

#report .kpi-border {
  border-right: 2px solid #CFCFCF;
}

#report .blue-header {
  text-align: center;
  color: #62B2B1;
  font-size: 34px;
}

#report .blue-header-label {
  text-align: center;
  color: #9B9B9B;
  font-size: 24px;
  font-weight: 100;
}

#report .loader {
  width: 100px;
  margin: auto;
  padding-top: 150px; 
  // opacity: .5;
}

#report canvas {
width: 100% !important;
max-width: 1000px;
height: auto !important;

}

#location-map {
  border: 5px solid #fff;
  box-shadow: 0px 0px 2px #888888;
}

#trend {
  -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
}

.trend-up {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.trend-down {
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
}

.no-trend {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.mast {
  background-image: 
  linear-gradient(
        rgba(40, 40, 40, 0.35), 
        rgba(40, 40, 40, 0.55), 
        rgba(40, 40, 40, 0.45)
      ),
  url("/img/mast.jpg");
  color: #fff;
  // background-image: url("/img/mooney-in-flight_mast_2.jpg");
  height: 600px;
  background-size: cover;
  background-position: 50% 50%;
}

.green {
  color: #62B2B1
}

.brown {
  color: #A68B7C;
}

.white {
  color: #f4f4f4;
}

.button-circle {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 13px;
  border: 2px solid #fff;
  color: #F4f4f4;
  border-radius: 20px;
    background-color: transparent;
    line-height: 36px;
    text-shadow: none;
    padding: 0px 22px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.button-circle:hover {
  background-color: #F9F9F9;
  color: #333;
  text-shadow: none;
}

.m-t-lg {
  margin-top: 40px;
}

.m-b-lg {
  margin-bottom: 40px;
}

.p-b-lg {
  padding-bottom: 40px;
}

.m-t-xlg {
  margin-top: 90px;
}

.m-l-s {
  margin-left: 15px;
}

.p-t-lg {
  padding-top: 40px;
}

// RIBBON

.ribbon {
  position: absolute;
  right: 11px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#62B2B1 0%, #579E9D 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #579E9D;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #579E9D;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #579E9D;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #579E9D;
}

// BROWN

.ribbon-brown {
  position: absolute;
  right: 11px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon-brown span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#A68B7C 0%, #856F63 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon-brown span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #856F63;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #856F63;
}
.ribbon-brown span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #856F63;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #856F63;
}

// BROWN

.ribbon-white {
  position: absolute;
  right: 11px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon-white span {
  font-size: 10px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#fff 0%, #ebebeb 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon-white span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #856F63;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #856F63;
}
.ribbon-white span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #856F63;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #856F63;
}

//modal
//
.modal-bg {
  background-image: 
  linear-gradient(
        rgba(40, 40, 40, 0.35), 
        rgba(40, 40, 40, 0.55), 
        rgba(40, 40, 40, 0.45)
      ),
  url("/img/j-3.png");
  background-size: cover;
  color: #fff; 
}

body .modal-admin {
    /* new custom width */
    width: 750px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin: 100px auto;
}

#features {
  color: #89848b;
}

.center-title{
  font-size: 44px;
  font-weight: 100;
}

#features .feature {
  font-size: 28px;
  font-weight: 100;
  color: #89848b;
}
